.img
{
 max-height: 400px;
 max-width: 300px;
 border-radius: 10%;
 

    
}




.heading
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a090a;
    margin-left: 85px;
    font-size: 40px;
}
.button
{
  display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 20px;
    
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94vh;
   
   
    
}

  .ccard
  {
    min-width: 100vh;
    min-height: 50vh;
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.8); 
    
  
  }
  .cardbody
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  label{
    max-width: 20cm;

  }
  .alert
  {
    color:red;
    margin-left: 6px;
    opacity: 85%;
    
  }